{{page-title "SimpleFront"}}

<h1> Your contact points in flanders!</h1>
{{!-- <h1> uw kontactpunten in vlaanderen</h1> --}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}

{{outlet}}
